@import '../extension/extend';


#contacto{
    scroll-margin-top: 8em;
    // margin: 160px 80px 80px 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .form-group{
      margin-top: 15px;
      font-family: 'Spinnaker', sans-serif;
      color: #46515C;
    }

     .container-btn{
      margin-top: 20px;
       .button-submit {
      @extend %buttons;
      height: 30px;
      width: 95px;
     
      &:hover {
          text-decoration: underline;
        }
      }
    }

    .map-pickup {
      margin-right: 80px;
      iframe {
      border-radius: 10px;
     }

    }
}




