@import '../extension/extend';


.container-contacto{
    scroll-margin-top: 8em;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;

    .formulario-contacto{
    
      .titulo-contacto{
        font-size: 27px;
      }

      .form-group{
        margin-bottom: 1rem;
      }
    
     .container-btn{
      margin-top: .8rem;
       
        .button-submit {
        @extend %buttons;
        height: 30px;
        width: 95px;
        
        }
    }
  }
}





