@import'../base/colors';

.footer{
    background-color: $bg-tripacks;
    display: flex;
    justify-content: space-evenly;

    p{
        font-family: $font-titulo;
        margin-bottom: 8px;
    }
    
    a{
        text-decoration: none;
        color: $text-color;
    }

    .delsurwines-footer{
        flex-direction: column;

        ul{
            list-style: none;
        }
    }

    .shop-footer{
        flex-direction: column;
        
        ul{
            list-style: none;
        }
    }

    .rrss{
        flex-direction: column;
         i{ font-size: 25px;
            margin-right: 15px;
         }
    }

    .copyright{
        font-size: 12px;
        margin-top: 8px;
    }

}

