@import '../base/colors';
@import '../base/fonts';

.navbar{
    background-color: $bg-color;
    font-family: $font-texto;
    font-size: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;

    a{
        color: $text-color;

        &:hover{
            color: $color-titulo;
        }
    }

    .container-fluid{
        display: flex;

    
        .navbar-nav{
        
             .nav-nosotros{
             margin-left: 1rem;
            }

            .nav-item{
                margin-right: 25px;

            &:hover {
                text-decoration: underline;
                color: $color-titulo;
            }

            .button-shop{
                color: $text-color;
            }

            }
        }

    }

    .container-carrito{
        justify-content: flex-end;
                
        .fa-shopping-cart{
            color: $text-color;
            font-size: 20px;
            margin-right: 2rem;
    
            &:hover{
                color: $color-titulo;
                }
        }
    }

}




