@import '../base/colors';
@import '../base/fonts';


.navbar{
    background-color: $bg-color;
    font-family: $font-texto;
    font-size: 16px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
    
    & .navbar-toggler{
        flex-wrap: nowrap;
        float: right;

       }


    a{
        color: $text-color;

        &:hover{
            color: $color-titulo;
        }
    }

    .container-fluid{
        // display: inline;
        // display: flex; 
        // flex-wrap: nowrap;

    
        .navbar-nav{
    

            .dropdown-item:active{
                background-color: $bg-tripacks;
                color: $bg-color-secundario;
            }

            .nav-item{
                margin-right: 25px;

                a{
                    &:hover {
                        text-decoration: underline;
                        color: $color-titulo;
                    }

                }
            }

            .button-shop{
                a{
                color: $text-color;

                &:hover{
                    color: $color-titulo;
                }
                }
            }
            
        }

    }

    .container-carrito{
        justify-content: flex-end;
                
        .fa-shopping-cart{
            color: $text-color;
            font-size: 20px;
            margin-right: 2rem;
            margin-top: .3rem;
    
            &:hover{
                color: $color-titulo;
                }
        }
    }

}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px){
    .container-menu{
        display: inline !important;
        padding-left: 1rem;
        flex-wrap: nowrap !important;

        .logo-header{
            width: 70%;
            margin-top: 8px;
        }
        
        .nav-nosotros{
            padding-top: .6rem;
        }
    }
    
   
}


// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px){
    .container-menu{
        display: inline;
        padding-left: 1rem;
        // flex-wrap: nowrap;


        .logo-header{
            width: 80%;
        }
       
    }
    
        }


// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
    .container-menu{
        display: inline;
        padding-left: 1rem;
        // flex-wrap: wrap;

        .logo-header{
            width: 80%;
            margin-top: 4px;
        }

    }
    
}

 // Large devices (desktops, less than 1200px)
 @media (min-width: 992px) and (max-width: 1199.98px) {
    .container-fluid{
        display: flex;
    
        .nav-nosotros{
            margin-left: 1rem;
          }
    
    }

 }

   // X-Large devices (large desktops, less than 1400px)
   @media (min-width: 1199.99px){
    .container-fluid{
        display: flex;
    
        .nav-nosotros{
            margin-left: 1rem;
          }
    
    }
    
    
 
   }




