@import '../base/colors';

.list-group-item:active {
    background-color: $bg-tripacks;
    color: $bg-color-secundario;
}


.shop-container{
    margin-top: 6rem;
    margin-left: 4rem;
 
    .inline-shop{
    display: inline-block;
    }

} 