@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin textos {
    font-family: 'gandhi_sansregular';
    color: $text-color;
}

